h1 {
    text-align: center;
}

#game-board {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 10px;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.cell {
    background-color: #fff;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}

#game-over-message {
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
}

#restart-button {
    display: block;
    width: 100px;
    margin: 20px auto;
    padding: 10px;
    font-size: 1em;
    text-align: center;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
}

#start-button {
    display: block;
    width: 100px;
    padding: 10px;
    font-size: 1em;
    text-align: center;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

#error-message {
    color: red;
    text-align: center;
    height: 20px;
    visibility: hidden;
}